# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual Environment
# --------------------
.venv/
venv/
env/

# --------------------
# Data Files (IMPORTANT)
# --------------------
*.csv
*.xlsx
*.xls
*.parquet
*.npy

# --------------------
# Model Files
# --------------------
*.pkl
*.bin
*.joblib
*.h5

# --------------------
# Reports / Outputs
# --------------------
*_REPORT
*_REPORT.txt
model_predictions*
customer_decisions*
synthetic_*
realistic_*

# --------------------
# Streamlit
# --------------------
.streamlit/
.streamlit/secrets.toml

# --------------------
# OS Files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE
# --------------------
.vscode/
.idea/

# --------------------
# Logs
# --------------------
*.log
*modeltrain1.ipynb

